<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" href="formm.css">
</head>

<body>
    <center>
		<div >
	<h2>Welcome To Edify</h2>

	<form style="color: burlywood; border: 5px;" action="/api/form">

		<p>
			<label for="name">Name : </label>
			<input name="Name" id="name" type="text" />
		</p>

        <p>
			<label for="fname">FatheName : </label>
			<input name="FatherName" type="text" id="fname" />
		</p>

        <p>
			<label for="gender">Gender : </label>
			<input name="gender" type="text" id="gender" />
		</p>

        <p>
			<label for="gmail">Gmail : </label>
			<input name="Gmail" type="text" id="gmail" />
		</p>

        <p>
			<label for="age"> Age : </label>
			<input name="age" type="number" id="age" />
		</p>

        <p>
			<label for="call"> Call : </label>
			<input name="Call" type="number" id="call" />
		</p>


		

		<p>
			<button type="submit">Submit</button>
		</p>



	</form>
</div>
</center>

</body>
</html>
